<header class="wrapper header">
     <a class="logo" href="{{ site.url }}" data-back="Home">{{ site.title }}</a>

    <div class="availability">
        <p><strong>Lorem ipsum :</strong> immédiate</p>
    </div>

    {% include 'template-parts/menu.twig' %}
</header>

