.contact-pads .pad-argument,
.contact-pads .contact{
	display: flex;
	align-items: center;
	justify-content: center;
}

.wpcf7{
	width: 100%;
}

.form{
	
	label{
		font-weight: 900;
		font-size: 2rem;
		display: block;
		margin-bottom: 5px;
	}

	input[type="email"],
	textarea,
	input[type="text"]{
		transition: border ease .25s;
		width: 100%;
		border: 2px solid $grisfonce;
		padding: 15px 20px;
		font-size: 1.6rem;
		color: $noir;
		outline: 0;

		&.wpcf7-not-valid{
			//border: 2px solid red;
		}

		&:focus{
			border: 2px solid $rouge;
		}
	}

	input[type="email"],
	textarea{
		margin-bottom: 1.5em;

		+ span{
			margin-top: -1em;
			margin-bottom: .7em;
		}
	}

	.wpcf7-not-valid-tip{
		color: $rouge;
	}

	textarea{
		font-family: Lato, Hevetica, Arial, sans-serif;
		line-height: 1.4em;
		resize: vertical;

		+ span{
			margin-top: .2em;
		}
	}

	input[type="submit"]{
		transition: all ease .25s;
		display: inline-block;
		appearance: none;
		background: none;
		border: 2px solid $rouge;
		color: $rouge;
		font-size: 2.5rem;
		padding: 15px 25px 10px;
		font-family: Lato, Hevetica, Arial, sans-serif;
		font-weight: bold;
		margin-top: 20px;

		&:hover{
			cursor: pointer;
			color: adjust-hue($rouge, -18deg);
			border-color: adjust-hue($rouge, -18deg);
			background-color: #fff;
			border-width: 3px;
		}
	}

	.wpcf7-response-output{
		margin: 1em 0 0;
		border:0;
		display: block;
		padding: 1em 1.5em;
		border-radius: 5px;
	}

	.wpcf7-validation-errors{
		background-color: $rouge;
		color: #fff;
	}

	.wpcf7-mail-sent-ok{
		background-color: #4cc554;
		color: #fff;

	}

	p{
		margin-bottom: 0;
	}
}