/* Font-weight reminder :

500 : Medium
800 : Heavy
900 : Black

*/

@font-face {
    font-family: 'Lato';
    src: url('./fonts/Lato-Medium-webfont.eot');
    src: url('./fonts/Lato-Medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/Lato-Medium-webfont.woff2') format('woff2'),
         url('./fonts/Lato-Medium-webfont.woff') format('woff'),
         url('./fonts/Lato-Medium-webfont.ttf') format('truetype'),
         url('./fonts/Lato-Medium-webfont.svg#latomedium') format('svg');
    font-weight: 500;
    font-style: normal;

}

@font-face {
    font-family: 'Lato';
    src: url('./fonts/Lato-MediumItalic-webfont.eot');
    src: url('./fonts/Lato-MediumItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/Lato-MediumItalic-webfont.woff2') format('woff2'),
         url('./fonts/Lato-MediumItalic-webfont.woff') format('woff'),
         url('./fonts/Lato-MediumItalic-webfont.ttf') format('truetype'),
         url('./fonts/Lato-MediumItalic-webfont.svg#latomedium_italic') format('svg');
    font-weight: 500;
    font-style: italic;

}

@font-face {
    font-family: 'Lato';
    src: url('./fonts/Lato-BlackItalic-webfont.eot');
    src: url('./fonts/Lato-BlackItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/Lato-BlackItalic-webfont.woff2') format('woff2'),
         url('./fonts/Lato-BlackItalic-webfont.woff') format('woff'),
         url('./fonts/Lato-BlackItalic-webfont.ttf') format('truetype'),
         url('./fonts/Lato-BlackItalic-webfont.svg#latoblack_italic') format('svg');
    font-weight: 900;
    font-style: italic;

}

@font-face {
    font-family: 'Lato';
    src: url('./fonts/Lato-Black-webfont.eot');
    src: url('./fonts/Lato-Black-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/Lato-Black-webfont.woff2') format('woff2'),
         url('./fonts/Lato-Black-webfont.woff') format('woff'),
         url('./fonts/Lato-Black-webfont.ttf') format('truetype'),
         url('./fonts/Lato-Black-webfont.svg#latoblack') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('./fonts/Lato-Heavy-webfont.eot');
    src: url('./fonts/Lato-Heavy-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/Lato-Heavy-webfont.woff2') format('woff2'),
         url('./fonts/Lato-Heavy-webfont.woff') format('woff'),
         url('./fonts/Lato-Heavy-webfont.ttf') format('truetype'),
         url('./fonts/Lato-Heavy-webfont.svg#latoheavy') format('svg');
    font-weight: 800;
    font-style: normal;

}

@font-face {
    font-family: 'Lato';
    src: url('./fonts/Lato-HeavyItalic-webfont.eot');
    src: url('./fonts/Lato-HeavyItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/Lato-HeavyItalic-webfont.woff2') format('woff2'),
         url('./fonts/Lato-HeavyItalic-webfont.woff') format('woff'),
         url('./fonts/Lato-HeavyItalic-webfont.ttf') format('truetype'),
         url('./fonts/Lato-HeavyItalic-webfont.svg#latoheavy_italic') format('svg');
    font-weight: 800;
    font-style: italic;

}