*{
	box-sizing: border-box;
}

html{
	font-size: 62.5%;
	background-color: #fff;
	font-family: Lato, Hevetica, Arial, sans-serif;
}

body{
	padding: $espace;
	font-size: 1.6rem;
	color: $noir;
}

img{
	max-width: 100%;
	height: auto;
}

.svg-wrapper{
	display: none;
}

//HEADER

header{
	padding: $padding;
	position: relative;
}

.img-background{
	background-size: cover;
	position: absolute;
	top:0;
	right: 0;
	bottom: 0;
	left:0;
	z-index: -1;

	&:after{
		content:'';
		position: absolute;
		top:0;
		right: 0;
		bottom: 0;
		left:0;
		background-color: $rougevif;
		opacity: .85;
	}
}

.wrapper-top{
	display: flex;
	align-items: center;
}

.logo{
	flex:2;
}

.nav{

	font-size: 1.8rem;
	font-weight: 500;
	text-transform: uppercase;

	li{
		display: inline-block;
	}

	a{
		transition: all ease .3s;
		display: inline-block;
		color: #fff;
		text-decoration: none;
		padding: 1em 1.5em;
		position: relative;

		svg{
			transition: fill ease-in-out .25s;
			display: inline-block;
			vertical-align: middle;
			width: 38px;
			margin-right: 9px;
			fill: #fff;
			transform: translateY(-2px);
		}

		&::before{
			transition: all ease-in-out .25s;
			content: ".";
			position: absolute;
			left: 50%;
			top: 60%;
			transform: translateX(-50%);
			font-size: 1.4em;
			color: transparent;
		}

		&:hover,
		&:focus{

			color: rgba(#000, .8);

			&::before{
				text-shadow: 10px 0px #fff, -10px 0px #fff;
				color: #fff;
			}

			svg{
				fill: rgba(#000, .8);
			}
		}
	}

	.current-menu-item a{
		color: rgba(#000, .8);

		&::before{
			content: ".";
			position: absolute;
			left: 50%;
			top: 60%;
			transform: translateX(-50%);
			font-size: 1.4em;
			text-shadow: 10px 0px #fff, -10px 0px #fff;
			color: #fff;
		}

		svg{
			fill: rgba(#000, .8);
		}
	}

}

header{
	margin-bottom: $espace;
}

.big-header{
	padding: 175px 0;
	text-align:center;
	text-transform: uppercase;
	color: #fff;

	a{
		@extend %bt;
		font-size: 2.8rem;
		margin-top: 1em;
	}
}

.big-title{	
	font-size: 8rem;
	font-weight: 800;
}

.sous-title{
	font-size: 3.5rem;
	font-weight: 500;
}

.text-content{
	p{
		line-height: 1.5em;

		strong{
			font-weight: bold;
		}
	}
}



