*{
	box-sizing: border-box;
}

html{
	font-size: 62.5%;
	background-color: #efefef;
	font-family: Lato, Hevetica, Arial, sans-serif;
}

body{
	padding: $espace;
	font-size: 1.6rem;
	color: $noir;
}

img{
	max-width: 100%;
	height: auto;
}

.svg-wrapper{
	display: none;
}

//HEADER

header{
	padding: $padding;
	position: relative;
	overflow: hidden;

	@include width-below(500px){
		padding: $padding*0.7;
	}
}

.img-background{
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	position: absolute;
	top:0;
	right: 0;
	bottom: 0;
	left:0;
	z-index: -1;
	animation: background linear 30s;

	&:after{
		content:'';
		position: absolute;
		top:0;
		right: 0;
		bottom: 0;
		left:0;
		background-color: $rougevif;
		opacity: .85;
	}
}

.wrapper-top{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.logo{
	flex:2;

	svg{
		width: 200px;
		height: auto;		

		@include width-below(400px){
			width: 150px;
		}

		@include width-above(1500px){
			width: 250px;
		}
	}

	path{
		fill: #fff;
	}
	



}

.nav{
	
	font-size: 1.8rem;
	font-weight: 500;
	text-transform: uppercase;
	z-index: 100;

	@include width-between(1099px, 1300px){
		font-size: 1.5rem;
	}
	

	@include width-below(1099px){
		transition: all ease .3s;
		width: 100%;
		padding-top: 50px;
		transform: scaleY(0);
		transform-origin: center top;
	}

	&.open{
		transform: scaleY(1);
	}

	li{
		display: inline-block;

		@include width-below(1099px){
			width: 100%;
			text-align: center;

			a{
				display: block;
			}
		}
	}

	a{
		transition: all ease .25s;
		display: inline-block;
		color: #fff;
		text-decoration: none;
		padding: 1em 1.5em;
		position: relative;

		@include width-above(1100px){

			&::before{
				transition: all ease .25s .05s;
				content:'';
				position: absolute;
				height: 2px;
				width: 0;
				background-color: #fff;
				right: 0;
				bottom: 1em;
				right: 1.5em;
				opacity: 0;
			}

			&:hover::before{
				width: 24%;
				opacity: 1;
				background-color: rgba(#fff, .6);
			}

		}

		svg{
			transition: fill ease .25s;
			display: inline-block;
			vertical-align: middle;
			width: 38px;
			margin-right: 9px;
			fill: #fff;
			transform: translateY(-2px);
		}

		&:hover,
		&:focus{

			color: rgba(#fff, .6);

			svg{
				fill: rgba(#fff, .6);
			}
		}
	}

	.current-menu-item a{
		color: rgba(#fff, .6);

		svg{
			fill: rgba(#fff, .6);
		}
	}
}

.bt-menu{

	font-size: 1.8rem;
	font-weight: 500;
	text-transform: uppercase;
	color: #fff;
	cursor: pointer;

	@include width-above(1100px){
		display: none;
	}

	&::before{
		transition: all ease .4s;
		content:'';
		display: inline-block;
		margin-right: 7px;
		height: 7px;
		width: 7px;
		background-color: #fff;
		transform: translateY(-50%);
		box-shadow: 0 9px #fff, 0px -9px #fff;
	}

	&.open{
		&::before{
			box-shadow: 9px 9px #fff, -9px -9px #fff, -9px 9px #fff, 9px -9px #fff;
			margin-right: 20px;
		}
	}
}

header{
	margin-bottom: $espace;
}

.big-header{
	padding: 175px 0;
	text-align:center;
	text-transform: uppercase;
	color: #fff;

	@include width-below(1099px){
		transition: padding-top ease .3s;
		padding-top: 0;
		margin-top: -250px;
		padding: 100px 0;

		&.open{
			padding-top: 300px;
		}
	}

	.bt{
		@extend %bt;
		font-size: 2.8rem;
		margin-top: 1em;
		position: relative;

		@include width-below(600px){
			font-size: 2rem;
		}

		em{
			display: inline-block;
			transition: all ease .25s;
		}

		&::before{
			transition: all ease .25s;
			content:'';
			display: block;
			position: absolute;
			width: 10px;
			background-color: rgba(#fff, 0);
			left: 0;
			top:0;
			bottom: 0;
			z-index: -1;
		}

		&:hover{

			&::before{
				width: 100%;
				background-color: rgba(#fff, .25);
			}

			em{
				transform: rotate(90deg);
			}
		}
	}
}

.big-title{	
	font-size: 8rem;
	font-weight: 800;

	@include width-below(1300px){
		font-size: 7rem;
	}

	@include width-below(600px){
		font-size: 5rem;
		margin-bottom: .15em;
	}

	@include width-below(600px){
		font-size: 4rem;
	}

	@include width-below(400px){
		font-size: 3rem;
	}
}

.sous-title{
	font-size: 3.5rem;
	line-height: 1.1em;
	font-weight: 500;

	@include width-below(1300px){
		font-size: 3rem;
	}

	@include width-below(600px){
		font-size: 2rem;
	}
}

.text-content{

	h2{
		@extend %h2;
		margin-bottom: .75em;
	}

	p{
		line-height: 1.5em;
		margin-bottom: 1em;

		strong{
			font-weight: bold;
		}
	}

	p + h2{
		margin-top: 1.4em;
	}
}



