*{
	box-sizing: border-box;
}

html{
	font-size: 62.5%;
	background-color: #fff;
	font-family: Lato, Hevetica, Arial, sans-serif;
}

body{
	padding: $espace;
	font-size: 1.6rem;
	color: $noir;
}

img{
	max-width: 100%;
	height: auto;
}

.svg-wrapper{
	display: none;
}

//HEADER

header{
	padding: $padding;
	position: relative;
}

.img-background{
	background-size: cover;
	position: absolute;
	top:0;
	right: 0;
	bottom: 0;
	left:0;
	z-index: -1;

	&:after{
		content:'';
		position: absolute;
		top:0;
		right: 0;
		bottom: 0;
		left:0;
		background-color: $rougevif;
		opacity: .85;
	}
}

.wrapper-top{
	display: flex;
	align-items: center;
}

.logo{
	flex:2;
}

.nav{

	font-size: 1.8rem;
	font-weight: 500;
	text-transform: uppercase;

	li{
		display: inline-block;
	}

	a{
		transition: all ease .25s;
		display: inline-block;
		color: #fff;
		text-decoration: none;
		padding: 1em 1.5em;
		position: relative;

		&::before{
			transition: all ease .25s .05s;
			content:'';
			position: absolute;
			height: 2px;
			width: 0;
			background-color: #fff;
			right: 0;
			bottom: 1em;
			right: 1.5em;
			opacity: 0;
		}

		&:hover::before{
			width: 24%;
			opacity: 1;
			background-color: rgba(#000, .8);
		}

		svg{
			transition: fill ease .25s;
			display: inline-block;
			vertical-align: middle;
			width: 38px;
			margin-right: 9px;
			fill: #fff;
			transform: translateY(-2px);
		}

		&:hover,
		&:focus{

			color: rgba(#000, .8);

			svg{
				fill: rgba(#000, .8);
			}
		}
	}

	.current-menu-item a{
		color: rgba(#000, .8);

		svg{
			fill: rgba(#000, .8);
		}
	}

}

header{
	margin-bottom: $espace;
}

.big-header{
	padding: 175px 0;
	text-align:center;
	text-transform: uppercase;
	color: #fff;

	a{
		@extend %bt;
		font-size: 2.8rem;
		margin-top: 1em;
		position: relative;

		em{
			display: inline-block;
			transition: all ease .25s;
		}

		&::before{
			transition: all ease .25s;
			content:'';
			display: block;
			position: absolute;
			width: 10px;
			background-color: rgba(#fff, 0);
			right: 0;
			top:0;
			bottom: 0;
			z-index: -1;
		}

		&:hover{

			&::before{
				width: 100%;
				background-color: rgba(#fff, .25);
			}

			em{
				transform: rotate(90deg);
			}
		}
	}
}

.big-title{	
	font-size: 8rem;
	font-weight: 800;
}

.sous-title{
	font-size: 3.5rem;
	font-weight: 500;
}

.text-content{
	p{
		line-height: 1.5em;

		strong{
			font-weight: bold;
		}
	}
}



