.wrapper-big{
	display: flex;
}

.slider{
	background-color: $rouge;
	width: calc(50% - #{$espace}/2);
	margin-right: $espace;
	padding: $padding*2;

	.wrapper-img{
		max-width: 75%;
	}

	.img-desktop{
		height: 350px;
	}
}

.wrapper-content{
	display: flex;
	flex-wrap:wrap;
	width: calc(50% - #{$espace}/2);

	> div{
		width: calc(50% - #{$espace}/2);
		text-align: center;

		&:nth-child(2n+1){
			margin-right: $espace;
		}

		&:nth-child(1),
		&:nth-child(2){
			margin-bottom: $espace;
		}
	}

	h2{
		font-weight: 900;
		font-size: 2.5rem;
		text-transform: uppercase;
		margin-bottom: .5em;

		span{
			display: block;
			margin-bottom: .5em;
		}

		span svg{
			height: 35px;
			width: auto;
			fill: $noir;
		}

		.couleur svg{
			height: 50px;
		}
	}


}

.pad1, .pad2, .pad3{
	background-color: $gris;
	padding: $padding;
}

.wrapper-mini{
	display: flex;
	flex-wrap: wrap;
	background-color: none;
	font-size: 2rem;
	text-transform: uppercase;
	line-height: 1.3em;
	font-weight: 900;	

	.content-mini{
		width: calc(50% - #{$espace});
		height: calc(50% - #{$espace}/2);
		background-color: $gris;
		margin-right: $espace;
		margin-bottom: $espace;
		padding: $padding;

		p{
		}

		span{
			display: block;
			margin-bottom: .4em;

			svg{
				height: 35px;
				width: auto;
				fill: #fff;
			}
		}
	}

	.padAvant{
		background-color: $rouge;
		margin-bottom: 0;
		color: #fff;

		a{
			color: inherit;
		}
	}
}

//Couleurs

.single-color{
	background-color: #fff;
	padding: 7px;
	display: inline-block;
	vertical-align: top;
	margin-right: 20px;
	margin-top: 20px;
	width: 40%;

	&:last-child{
		margin-right: 0;
	}

	div{
		cursor: pointer;
	}
}

.couleur-principale{
	min-height: 100px;
}

.variantes{
	display: flex;

	div{
		flex: 1;
		min-height: 40px;
	}
}

.text-couleur{
	display: block;
	font-size: 2rem;
	text-transform: uppercase;
	font-weight: 900;
	margin-top: 15px;
}
