$rouge: #d55252;
$rougevif: #d54040;
$gris: #e3e3e3;
$noir: #2b2b2b;

$espace: 5px;
$padding: 45px;

//Mixins

%bt{
	display: inline-block;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	padding: 1em 1.5em .9em;
	border: 2px solid #fff;
}

@mixin anim-points{

	position: relative;

	&::before{
		transition: all ease-in-out .25s;
		content: ".";
		position: absolute;
		left: 50%;
		top: 60%;
		transform: translateX(-50%);
		font-size: 1.4em;
		color: transparent;
	}

	&:hover,
	&:focus{

		&::before{
			text-shadow: 10px 0px #fff, -10px 0px #fff;
			color: #fff;
		}

	}
}

//Animations

@keyframes background{
	from{
		transform: scale(1);
	}

	to{
		transform: scale(1.6);
	}
}