$rouge: #d55252;
$rougevif: #d54040;
$gris: #e3e3e3;
$noir: #2b2b2b;

$espace: 5px;
$padding: 45px;

%bt{
	display: inline-block;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	padding: 1em 1.5em .9em;
	border: 2px solid #fff;
}