{% extends "base.twig" %}

{% block content %}
    <div class="wrapper p404__content">
        <div class="p404__content__wrapper">
            <h1>Page introuvable</h1>
            <div class="btn btn--border">
                <a href="#" class="btn">Retour à l'accueil</a>
            </div>
        </div>

        <div class="p404__bg">
            <span>404</span>
        </div>

    </div>
{% endblock %}