html {
}

body {
  font-size: var(--p-font-size);
  font-family: var(--font-primary), 'Arial', sans-serif;
  font-weight: 400;
  background-color: var(--color-white);
  color: var(--color-primary);
}

.wrapper {
  width: 100%;
  max-width: min(1800px, 90vw);
  padding-left: var(--gap);
  padding-right: var(--gap);
  margin-left: auto;
  margin-right: auto;

  &--tiny{
    max-width: max(500px, calc(90vw / 12 * 10));
  }

  p{
    max-width: 90rem;

    a{
      transition: all ease .3s;
      color: inherit;
      font-weight: bolder;
      text-underline-offset: 6px;

      &:hover{
        text-underline-offset: 10px;
        text-decoration-thickness: 2px;
      }
    }
  }
}

.global-wrapper{
  overflow-x: clip;
  padding-top: var(--padding-global);
  padding-bottom: var(--padding-global);
}

.v-hidden{
  visibility: hidden;
}