@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:wght@300;400;600&display=swap');

@font-face {
    font-family: 'Wotfard';
    src: url('../assets/fonts/wotfard-bold-webfont.eot');
    src: url('../assets/fonts/wotfard-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/wotfard-bold-webfont.woff2') format('woff2'),
         url('../assets/fonts/wotfard-bold-webfont.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;

}

@font-face {
    font-family: 'Wotfard';
    src: url('../assets/fonts/wotfard-medium-webfont.eot');
    src: url('../assets/fonts/wotfard-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/wotfard-medium-webfont.woff2') format('woff2'),
         url('../assets/fonts/wotfard-medium-webfont.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;

}

@font-face {
    font-family: 'Wotfard';
    src: url('../assets/fonts/wotfard-regular-webfont.eot');
    src: url('../assets/fonts/wotfard-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/wotfard-regular-webfont.woff2') format('woff2'),
         url('../assets/fonts/wotfard-regular-webfont.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;

}

@font-face {
    font-family: 'Wotfard';
    src: url('../assets/fonts/wotfard-semibold-webfont.eot');
    src: url('../assets/fonts/wotfard-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/wotfard-semibold-webfont.woff2') format('woff2'),
         url('../assets/fonts/wotfard-semibold-webfont.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;

}
