%h1{
    font-size: var(--h1-font-size);
    line-height: 0.9;
    font-weight: 500;
}

%h2{
    font-size: var(--h2-font-size);
    line-height: 1.1;
    font-weight: 500;
}

%h3{
    font-size: var(--h3-font-size);
    line-height: 1.3;
    font-weight: 300;
}