$rouge: #E84A4A;
$gris: #ffffff;
$grisfonce: #efefef;
$noir: #2b2b2b;

$espace: 7px;
$padding: 45px;

//Mixins

%bt{
	transition: all ease .35s;
	display: inline-block;
	color: #fff;
	text-decoration: none;
	border: 2px solid #fff;
	font-weight: 600;
	padding: 1em 1.5em .9em;
	
	&:hover{
		padding: 1em 1.7em .9em;
	}
}

@mixin anim-points{

	position: relative;

	&::before{
		transition: all ease-in-out .25s;
		content: ".";
		position: absolute;
		left: 50%;
		top: 60%;
		transform: translateX(-50%);
		font-size: 1.4em;
		color: transparent;
	}

	&:hover,
	&:focus{

		&::before{
			text-shadow: 10px 0px #fff, -10px 0px #fff;
			color: #fff;
		}

	}
}

%h2{
	font-size: 5rem;
	font-weight: 800;
	margin-bottom: .35em;
	line-height: 1.2em;
	
	@include width-below(600px){
		font-size: 3.5rem;
	}
}