.wp-block-contact-form-7-contact-form-selector{
  margin-top: calc(var(--margin-fluid) / 2);

  label{
    display: block;
    flex-direction: column;
    border: var(--border);
    border-radius: var(--radius-primary);
    padding: clamp(2rem, 2vw, 3.5rem);
    margin-bottom: clamp(2rem, 2vw, 5rem);

    span{
      display: block;

      // INPUT
      &:last-child{
        text-transform: uppercase;
        font-size: .8em;
        font-weight: 600;
      }
    }

    input, textarea{
      border:0;
      background: none;
      color: inherit;
      outline: 0;
      width: 100%;
      font-size: 1.2em;
    }
  }

  .wpcf7-not-valid-tip{
    margin-top: 1em;
  }

  .form-submit{
    --padding: .4rem;
    display: inline-flex;
    align-items: center;
    border: var(--border);
    border-radius: var(--radius-primary);
    padding: var(--padding);

    input{
      @include btn();
    }

    .wpcf7-spinner{
      transition: margin ease .3s, opacity ease .2s;
      background: none;
      border: 2px solid var(--color-primary);
      width: 3rem;
      height: 3rem;
      opacity: 1;

      &::before{
        background-color: var(--color-primary);
      }
    }
  }
}

// Submitting

form:not(.submitting){
  .form-submit{
    .wpcf7-spinner{
      margin: 0;
      width: 0;
      opacity: 0;
      border:0;
    }
  }
}

.wpcf7 form .wpcf7-response-output{
  padding: 0;
  margin: 0;
  margin-top: clamp(2rem, 2vw, 5rem);
  border: var(--border);
  border-radius: var(--radius-primary);
  padding: clamp(2rem, 2vw, 5rem);
}

.wpcf7 form.sent .wpcf7-response-output {
  border-color: var(--color-green);
  color: var(--color-green);
}

.wpcf7 form.invalid .wpcf7-response-output {
  border-color: var(--color-primary);
  color: var(--color-primary);
}