.folio-galerie{
  padding: clamp(2rem, 5vw, 7rem);
  display: grid;
  list-style-type: none;
  gap: var(--gap);
  position: relative;

  @media (width > 1000px){
    grid-template-columns: repeat(2, 1fr);
  }

  &::before{
    content: '';
    display: block;
    background-color: var(--color-brown);
    border-radius: var(--radius-primary);
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 70%;
    transform: translateY(-50%);
  }

  &__single{
    padding: 3.5rem .5rem .5rem;
    background-color: var(--color-white);
    border-radius: var(--radius-primary);
    position: relative;
    box-shadow: 0 0 7rem rgba(#000, .14);

    img{
      border-radius: 0 0 var(--radius-secondary) var(--radius-secondary);
    }

    &::before{
      --size: .8rem;
      --gap: 1.5;
      content: '';
      display: block;
      height: var(--size);
      width: var(--size);
      background-color: var(--color-brown);
      border-radius: 100%;
      position: absolute;
      top: 1.4rem;
      right: 2rem;
      box-shadow: calc(var(--size) * var(--gap) * -1) 0 0 var(--color-brown), calc(var(--size) * var(--gap) * -1 * 2) 0 0 var(--color-brown);
    }
  }
}