.header{
  display: flex;
  align-items: center;
  gap: 1.5rem;

  &__nav{
    display: flex;
    gap: 1.5rem;
    align-items: center;
    flex: 1;
    justify-content: right;
    align-self: stretch;
  }
}
