.cursor-wrapper{
  position: fixed;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  top: 0;
  z-index: 100;
  pointer-events: none;
}

.info-cursor{
  transition: all ease-out .6s;
  position: absolute;
  background-color: var(--color-white);
  border-radius: var(--radius-primary);
  display: inline-flex;
  align-items: center;
  font-size: .7em;
  padding: .5em 1.3em;
  box-shadow: 0 0 3rem rgba(#000, .3);
  pointer-events: none;
  opacity: 0;
  flex-shrink: 0;

  p{
    white-space: nowrap;
  }

  &.show{
    opacity: 1;
  }

  svg{
    stroke: var(--color-primary);
    stroke-width: 2px;
    width: 1.8rem;
    margin-right: .8em;
    flex-shrink: 0;
  }
}