.skills{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  list-style-type: none;
  gap: var(--gap);
  padding-bottom: 25%;
}

.skill{
  border: var(--border);
  border-radius: var(--radius-primary);
  padding: max(3rem, 3vw);
  aspect-ratio: 1;

  &__abbr{
    font-size: clamp(12rem, calc(.3rem + 5vw), 20rem);
    text-stroke: 2px var(--color-primary);
    -webkit-text-stroke: 2px var(--color-primary);

    color:transparent;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 1;

    // Fallback for text-stroke
    @supports (not (-webkit-text-stroke: 2px var(--color-primary))) and (not (text-stroke: 2px var(--color-primary))) {
      color: var(--color-primary);
    }
  }

  &__title{
    font-family: var(--font-secondary);
    font-size: var(--h2-font-size);
    font-weight: 600;
    line-height: 1.1em;
    margin-top: .4em;
  }

  &__content{
    font-size: .9em;
    margin-top: .7em;
  }
}